body {
    font-family: Arial, sans-serif;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    color: #333;
  }
  
  #quiz {
    margin-top: 50px;
  }
  
  #choices {
    margin-top: 20px;
  }
  
  #submit {
    margin-top: 20px;
  }
  
  #result {
    margin-top: 30px;
    font-weight: bold;
  }

  button{
    margin-left: 20px;
  }